@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;

* {
  font-family: 'Inter', sans-serif;
}

@tailwind components;

.main-grid {
  @apply grid row-gap-2;
  grid-template:
    'controls' auto
    'req-head' 3rem
    'requests' auto
    'off-head' 3rem
    'offers'   auto
  / 1fr;
}

@screen sm {
  .main-grid {
    @apply col-gap-4 row-gap-0;
    grid-template:
      'controls control'  auto
      'req-head off-head' 3rem
      'requests offers'   calc(100vh - 6rem)
    / 1fr       1fr;
  }
}

@screen lg {
  .main-grid {
    grid-template:
      'req-head            off-head             controls'             3rem
      'requests            offers               controls'             1fr
    / minmax(360px, 420px) minmax(360px, 420px) minmax(240px, 400px);
  }
}

@screen xl {
  .main-grid {
    grid-template:
      'req-head off-head controls' 3rem
      'requests offers   controls' 1fr
    / 420px     420px    1fr;
  }
}

.req-head {
  grid-area: req-head;
}

.off-head {
  grid-area: off-head;
}

.requests {
  grid-area: requests;
}

.offers {
  grid-area: offers;
}

.controls {
  grid-area: controls;
}

.btn {
  @apply
    inline-flex
    items-center
    justify-center
    px-5
    py-3
    border
    border-transparent
    text-base
    leading-6
    font-medium
    rounded-md
    bg-gray-100
    transition
    duration-150
    ease-in-out;
}

.btn:hover {
  @apply bg-gray-200;
}

.btn:focus {
  @apply outline-none shadow-outline;
}

.btn:disabled {
  @apply bg-gray-500 !important;
}

.btn-secondary {
  @apply bg-secondary-500 text-white;
}

.btn-secondary:hover {
  @apply bg-secondary-600;
}

.btn-primary {
  @apply bg-primary-500 text-white;
}

.btn-primary:hover {
  @apply bg-primary-600;
}

.pill {
  @apply py-1 px-2 rounded-full shadow border border-transparent font-medium;
}

@tailwind utilities;

.throb {
  animation: throb 1s linear infinite;
}

.striped:nth-child(even) {	
  @apply bg-gray-100;	
}

@responsive {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@keyframes throb {
  40% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}